body {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  border-radius: 0 !important;
  height: 200px;
  background: url(../img/back.jpeg) 100% 50% no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  text-align: center;
}

#search-input {
  margin-bottom: 20px;
}

.list-group-item {
  transition: all 0.3s ease;
}

.list-group-item:hover {
  background-color: #DEDEDE;
}
